@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans",sans-serif;
  /* transition: all 0.4s ease; */
}


@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../assets/fonts/oswald/Oswald-Regular.ttf");
  font-weight: normal;
  font-style: normal;
 
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../assets/fonts/open-san/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
 
}

.flex_only{
  display: flex;
  
}

.flex_column{
  display: flex;
  flex-direction: column;
  
}
.flex_column_center{
  display: flex;
  flex-direction: column;
  justify-content: "center";
  
}
.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_align_center{
  display: flex;
  align-items: center;
}
.flex_between{
  display: flex;
  justify-content: space-between;

}
.flex_between_center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}